body{
padding: 0 ;
margin: 0 ;
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 18px;

}

a{
	text-decoration: none;
	color: #3f3f3f;
  font-size: 13px;
}

.main_grid{
  background-color: #fafafa;
  display: grid;
  grid-row-gap: 14px;
  grid-column-gap: 28px;
  grid-template-columns: 1fr 292px 292px 292px 1fr;
  grid-template-rows: 55px 0px 50px 223px 197px 124px auto;
  grid-template-areas: 
    "header header header header header"
    ". . . . ."
    ". article article my_account ."
    ". article article aside ."
    ". article article rec ."
    ". article article footer ."
    ". article article . ."
}

  header{
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 310px 310px 310px 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    ". logo search icons ."
  }

  .header{
    background-color: white;
    border-style: none none solid none;
    border-color: #dbdbdb;
    border-width: 1px;
    padding-left: 18px;
    padding-right: 18px;
  }

    aside, aside.rec{
    border-style: solid ;
    border-color: #dbdbdb;
    border-width: 1px;
    border-radius: 4px;
    background-color: white;
  }

      header.logo{
        grid-area: logo;
        align-items: center;
        display: flex;
      }

      .logo_head{
         width: auto;
         height: 30px;
         display: block;
      }

      header.search{
        grid-area: search;
        display: flex;
        justify-content: center;
        align-items: center;

      }

         .search_head{
           display: inline;
          }

          .search_input{
            width: 208px;
            height: 24px;
            text-align: center;
            border-style: solid ;
            border-color: #dbdbdb;
            border-width: 1px;
            background-color: #fafafa;
            border-radius: 3px;
            color:#dbdbdb;
          }

      header.icons{
        grid-area: icons;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

          .icons_head{
            width: 120px;
            height: 22px;
            display: flex;
            justify-content: space-between;
            align-items: center;

           }

            .interesting{
                width: 22px;
                height: 22px;
                display: block;
            }

            .liked{
                width: 22px;
                height: 22px;
                display: block;
            }

            .profile{
                width: 22px;
                height: 22px;
                display: block;
                border-radius: 50%;
            }


  article{
    grid-area: article; 
  }

      .body_post{
        max-width: 100%;
        min-height: 400px;
        margin-bottom: 50px;
        border-style: solid ;
        border-color: #dbdbdb;
        border-width: 1px;
        border-radius: 4px;
        background-color: white;
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 5px;
        grid-template-rows: 56px minmax(250px ,auto) 40px minmax(18px, auto) minmax(70px, auto) 18px 56px;
        grid-template-areas: 
                "head_post"
                "img_post"
                "icons_post"
                "liked_people"
                "text_post"
                "time_post"
                "comment_post"
      }

        .head_post{
          grid-area: head_post;
          display: flex;
          align-items: center;
          padding: 12px;
          }

            .account_avatar{
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              }

            .account_info{
              padding: 8px;
              }

            .name_post{
              padding-left: 16px;
              }

            .account_name{
              font-size: 13px;
              font-weight: 600;
              color: #3f3f3f;
            }

            .account_status{
              font-size: 12px; 
              color: #c5c5c5;
            }


        .img_post{
          grid-area: img_post;
          width: 100%;
          height: auto;
          }

          .icons_post{
            grid-area: icons_post;
            padding-left: 16px;
            padding-right: 16px;
            display: grid;
            grid-template-columns: 22px 22px 22px 1fr;
            grid-column-gap: 8px;
            grid-template-areas: 
                "like_i_post com_i_post dir_i_post fav_i_post"
            }

            .like_i_post{
              grid-area: like_i_post;
              display: block;
              justify-self:end;
              }

            .com_i_post{
              grid-area: com_i_post;
              display: block;
              }

            .dir_i_post{
              grid-area: dir_i_post;
              display: block;
              }

            .fav_i_post{
              grid-area: fav_i_post;
              display: block;
              justify-self:end;
              }

          .liked_people{
            grid-area: liked_people;
            padding-left: 16px;
            padding-right: 16px;
            }

            a.liked_people{
            font-weight: 600;
            padding:0px;  
            }

          .text_post{
            grid-area: text_post;
            padding-left: 16px;
            padding-right: 16px;
            }

          .time_post{
            grid-area: time_post;
            padding-left: 16px;
            padding-right: 16px;
            color: #bbbbbb;
            font-size: 10px;
            }

          .comment_post{
            grid-area: comment_post;
            display: flex;
            align-items: center;
            padding: 16px;
            border-style: solid none none none;
            border-width: 1px;
            border-color: #efefef;
            }

             .comment_input{
                width: 208px;
                height: 24px;
                border-style: none;
                background-color: #fafafa;
                border-radius: 3px;
                color: #a2a2a2;
              }

  div.my_account{
    grid-area: my_account;
    display: flex;
  }

      .my_avatar{
        display: block;
        width: auto;
        height: 100%;
        border-radius: 50%;
      }

      .my_name{
        display: flex;
        padding-left: 10px;
        align-items: center;
        font-weight: 600;
        color: #3f3f3f;
      }

  aside{
    grid-area: aside;
    padding: 16px; 
  }

    .stories_header{
      display: flex;
      justify-content: space-between;
      }

    .stories_list{
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 100%;
      margin-right: -16px;
    } 

      .head_aside{
        font-size: 13px;
        font-weight: bold;
        color: #bbbbbb;
        }

      .account_block{
        display: flex;
        align-items: center;
        } 

  aside.rec{
    grid-area: rec; 
    padding: 16px;
  }

    .rec_header{
      display: flex;
      justify-content: space-between;
      }
     
      a.head_aside_a{
        font-size: 11px;
        font-weight: 600;
        }

      .subscribe{
        margin-left: auto;
        background-color: white;
        border: none;
        text-align: center;
        cursor: pointer;
        color: #3897f0;
        font-size: 12px;
        font-weight: bold;
        }


  footer{
    grid-area: footer;
    background-color: gray;
  }


@media screen and (max-width: 1000px) and (min-width: 570px) {
  .main_grid{
  display: grid;
  grid-row-gap: 14px;
  grid-column-gap: 0px;
  overflow: hidden;
  grid-template-columns:  1fr minmax(320px, 612px) 1fr ;
  grid-template-rows: 55px 80px minmax(350px, auto) ;
  grid-auto-columns: 0px;
  grid-template-areas: 
    "header header header"
    ". aside ."
    ". article ."
}

header{
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr minmax(210px ,310px) 1fr;
    grid-template-areas: 
    " logo search icons"
  } 

       aside{
        padding: 8px 0px 0px 0px;

      }

     .stories_header{
        display: none;
        }

     .stories_list{
        display: flex;
        flex-direction: row;
        overflow: auto;
        height: 100%;
        margin-right: 0px;
    }

    .stories_list::-webkit-scrollbar  {
        height: 3px; 
        background-color: white;
    }

    .stories_list::-webkit-scrollbar-thumb{    
        background-color: #bbbbbb;
        border-radius: 20%;
    }

     .account_block{
        display: flex;
        align-items: center;
        flex-direction: column;
        }

     .account_info{
        padding: 2px;
        }

      .account_status{
      display: none;
        }

  .body_post{
        margin-bottom: 14px;
  }
}


@media screen and (max-width: 570px) {
  .main_grid{
  display: grid;
  grid-row-gap: 6px;
  grid-column-gap: 0px;
  overflow: hidden;
  grid-template-columns: minmax(115px, 1fr) minmax(115px, 1fr);
  grid-template-rows: 55px 80px minmax(350px, auto);
  grid-auto-columns: 0px;
  grid-template-areas: 
    "header header"
    " aside aside "
    " article article "
}

header{
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-auto-columns: 0px;
    grid-template-areas: 
    "logo icons"
  }

         aside{
         padding: 8px 0px 0px 0px;
        }

       .stories_header{
          display: none;
          }

       .stories_list{
          display: flex;
          flex-direction: row;
          overflow: auto;
          height: 100%;
          margin-right: 0px;
      }


    .stories_list::-webkit-scrollbar  {
        height: 3px; 
        background-color: white;
    }

    .stories_list::-webkit-scrollbar-thumb{    
        background-color: #bbbbbb;
        border-radius: 20%;
    }

      .account_block{
        display: flex;
        align-items: center;
        flex-direction: column;
        }

      .account_info{
        padding: 2px;
        }

      .account_status{
        display: none;
        }

   .body_post{
        margin-bottom: 6px;
  }
}
